<div>
  <p class="guestbook-header">
    <b>{{ entry.name }}</b>
    {% if auth.check %}
      ({{ entry.email }})
    {% endif %}
    schrieb am
    {{ entry.created_at|date("d.m.Y") }}
    um
    {{ entry.created_at|date("H:i") }}:</p>
  <p>{{ entry.text }}</p>
  {% if auth.check %}
    <p>
      <form method="POST" onsubmit="return confirm('Soll der Eintrag gelöscht werden?');">
        <button type="submit" class="btn btn-danger">Delete</button>
        {{ csrf.field | raw }}
      </form>
    </p>
  {% endif %}
</div>
