<meta charset="utf-8">
<title>{{ title|default('TSBW Shop') }}
  | Schnüsterwinkel</title>
<meta name="description" content="Schnüsterwinkel - TSBW Shop">
<meta name="author" content="TSBW Husum">
<link rel="stylesheet" href="{{ base_url() }}/css/bootstrap.css">
<link rel="stylesheet" href="{{ base_url() }}/css/bootstrap-theme.css">
<link rel="stylesheet" href="{{ base_url() }}/css/featherlight.min.css">
<link rel="stylesheet" href="{{ base_url() }}/css/master.css">
<link rel="stylesheet" href="{{ base_url() }}/DataTables/datatables.min.css">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
