<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title|default('TSBW Shop') }} | Schnüsterwinkel</title>
  <meta name="description" content="Schnüsterwinkel - TSBW Shop">
  <meta name="author" content="TSBW Husum">
  <link rel="stylesheet" href="{{ base_url() }}/css/bootstrap.css">
  <link rel="stylesheet" href="{{ base_url() }}/css/bootstrap-theme.css">
  <link rel="stylesheet" href="{{ base_url() }}/css/master.css">
  <link rel="stylesheet" href="{{ base_url() }}/css/carousel.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'> <!--TODO: Lokal speichern-->
</head>

<body>
  <!-- navbar -->
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">Schnüsterwinkel - TSBW Shop</div>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="{% if active == 'welcome' %}active{% endif %}"><a href="{{ base_url() }}" class="{% if active == 'welcome' %}selected{% endif %}">Willkommen</a></li>
              <li class="{% if active == 'approach' %}active{% endif %}"><a href="{{ path_for('approach') }}" class="{% if active == 'approach' %}selected{% endif %}">Anfahrt & Öffnungszeiten</a></li>
              <li class="{% if active == 'stock' %}active{% endif %}"><a href="{{ path_for('stock') }}" class="{% if active == 'stock' %}selected{% endif %}">Warenangebot</a></li>
              <li class="{% if active == 'contact' %}active{% endif %}"><a href="{{ path_for('contact') }}" class="{% if active == 'contact' %}selected{% endif %}">Kontakt</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if auth.check %}
                <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ auth.user.name }}
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ path_for('auth.password.change') }}">Passwort ändern</a></li>
                  <li><a href="{{ path_for('auth.logoff') }}">Abmelden</a></li>
                </ul>
              </li>
              {% else %}
                <li class="{% if active == 'login' %}active{% endif %}"><a href="{{ path_for('auth.login') }}" class="{% if active == 'login' %}selected{% endif %}">Login</a></li>
              {% endif %}
          </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container -->
      </nav>
