<div class="lightbox" id="fl{{ id }}">
  <form class="form-signin" action="{{ path_for('admin.list') }}/{{ id }}" method="post">
    <h4 class="modal-title">Eintrag bearbeiten</h4>
    <div class="modal-body">
      <div class="form-group">
        <label for="name-{{ id }}">Name:</label>
        <input type="text" class="form-control" id="name-{{ id }}" name="name" value="{{ name }}" maxlength="250" required>
      </div>
      <div class="form-group">
        <label for="description-{{ id }}">Text:</label>
        <textarea class="form-control noresize" id="description-{{ id }}" rows="10" required name="description">{{ description }}</textarea>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success" name="submit">Speichern</button>
      <button type="button" class="btn btn-danger featherlight-close" onclick="featherlight.close();return false;" name="close">Abbrechen</button>
    </div>
    {{ csrf.field | raw }}
  </form>
</div>
